/* Samim Wais */
body {
    background-color: lightpink;
}

h1{
    background-image:url(Images/banniere.jpg) ;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
    filter: grayscale(0.5);
    color:white;
    padding: 32px;
    background-position: center;

}

h4{
    padding-left: 32px;
    color:red
}

